.container {
    padding: 20px;
}
.form {
    border: 1px solid grey;
    padding: 10px;
}
.formActivationButton {
    padding: 0px;
    margin: 0px;
    height: 50px;
}
.formComponent {
    margin-top: 20px;
}
.card-body {
    height: 85px;
}