.card {
    position: relative;
}

.card-body {
    height: 110px;
}

.info {
    /* position: absolute; */
    /* right: 30px;
    top: 25px; */
    /* width: 150px; */
    /* height: 50px; */
    padding: 10px;
}