.detailsContainer {
    position: relative;
    height: 430px;
}

.eventInfo {
    position: absolute;
    right: 0px;
    top: 378px;
    
    height: 50px;
    padding: 10px;
}
.detailsTitle {
    text-align: center;
}